.btn-right {
    float: right;
}

.btn {
    margin: 0 5px;
}

svg {
    margin: 0 5px;
    cursor: pointer;
}

label {
    font-size: 18px;
}

.form-group {
    padding-top: 15px;
}

.form-filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.relative-container{
    position: relative;
}

.absolute-element{
    position: absolute;
}

.top-left{
    top: 15px;
    left: 15px;
}

.top-right{
    top: 15px;
    right: 15px;
}

.bottom-left{
    bottom: 15px;
    left: 15px;
}

.bottom-right{
    bottom: 15px;
    right: 15px;
}