<div @slide class="row align-items-md-stretch">
    <div class="col-md-6 mb-4" *ngFor="let job of jobs">
        <div class="h-100 p-5 border rounded-3" [ngClass]="{
                'text-white': isOwner(job),
                'bg-dark': isOwner(job),
                'bg-light': !isOwner(job)
            }" style="position: relative">
            <span class="badge span-sm bg-secondary" style="position: absolute; top: 15px; left: 15px" *ngIf="checkApplication(job, true)">Applied</span>
            <h2> {{job.name}}</h2>
            <p>{{job.description | shortText:100 }}</p>
            <a class="btn" *ngIf="ownerId" [ngClass]="{
                    'btn-outline-light': isOwner(job),
                    'btn-outline-dark': !isOwner(job)
                }" type="button" style="position: absolute; right: 15px; bottom: 15px"
                routerLink="/catalog/{{job._id}}">Details</a>

            <div style="position: absolute; right: 15px; top: 15px">
                <favorite [job]="job"></favorite>
            </div>

            <div style="position: absolute; left: 15px; bottom: 15px">
                <like-dislike [job]="job" [iconSize]="24"></like-dislike>
            </div>
            
        </div>
    </div>


</div>